@model IEnumerable<TestCore.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleHash)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                <a asp-action="Details" asp-route-id="@item.ArticleHash">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
